{% extends 'base.html' %}


{% block content %}
Welcome to Twitter Clone

<div id='tweets'>
    Loading...
</div>

<script>
    const tweetsElement = document.getElementById("tweets") // getting html element
    //tweetsElement.innerHTML = 'Loading...' // set new html in that ^ element

    const xhr  =  new XMLHttpRequest()
    const method = 'GET' // as  opposed to 'POST'
    const url = "/tweets "
    const responseType = "json"

    function handleDidLike(tweet_id, currentCount) {
        console.log(tweet_id,currentCount)
        
    }

    function likeBtn(tweet){
        return "<button class='btn btn-primary' onclick=handleDidLike(" + 
        tweet.id + "," + tweet.Likes + ")>" + tweet.likes + " Like</button>"
    }

    function formatTweetElement(tweet){
        var formattedTweet = "<div class='mb-4 tweet' id='tweet-id''" + tweet.id 
        +" '><p>" + tweet.content + 
            "</p><div class='btn-group'>" + likeBtn(tweet) +
            "</div></div>"
        return formattedTweet
    }
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        var listedItems = serverResponse.response; //array
        var finalTweetStr = ""
        var i;
        for(i = 0; i<listedItems.length; i++){
            console.log(i)
            console.log(listedItems[i])
            var tweetObj =  listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
                finalTweetStr += currentItem    
        }
        tweetsElement.innerHTML =  finalTweetStr
        //console.log(listedItems)
    }

    xhr.send()
</script>
{% endblock content %}